/* Common */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'nunito', sans-serif;
    --background-color: #fffafa;
    --primary-color: #E11D48;
    --offwhite-color: #FDA4AF;
    --offblack-color: #241c1d;
}

html{
    font-size: 62.5%;
    font-weight: 400;
}

body{
    font-size: 1.6rem;
    color: var(--offblack-color);
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

li, button, input, label, p{
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

h3{
    font-size: 2.8rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

h4{
    font-size: 2.6rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

h5, h6{
    font-size: 2.4rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--offblack-color);
    transition: all ease-in-out 0.25s;
}

a:hover{
    text-decoration: line-through;
    color: var(--primary-color);
}

ul{
    padding-inline-start: 0;
    list-style: none;
}

hr{
    margin: 1rem 0rem;
    opacity:0.5;
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    color: var(--offblack-color);
    min-width: 25vw;
}

.primary-button, .secondary-button{
    background-color: var(--background-color);
    color: var(--offblack-color);
    white-space: nowrap;
    padding: 1rem 2rem;
    min-height: 6rem;
    max-height: 6rem;
    margin-top: 2rem;
    width: auto;
    border: none;
    border: 0.2rem solid var(--offblack-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    transition: all ease-in-out 0.25s;
}

.secondary-button{
    border: 0.2rem solid var(--background-color);
    background: none;
    transition: all ease-in-out 0.25s;
}

button img{
    max-height: 3rem;
    padding-right: 1rem;
}

.primary-button:hover{
    border: 0.2rem solid var(--primary-color);
    box-shadow: 0.5rem 0.5rem 0rem var(--primary-color);
}

.secondary-button:hover{
    border: 0.2rem solid var(--offblack-color);
    box-shadow: 0.5rem 0.5rem 0rem var(--offblack-color);
}

/* Nav Section */
header{
    border-bottom: 0.1rem solid var(--offblack-color);
    background-color: var(--background-color);
}
nav{
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    flex-wrap: wrap;
    /* border-bottom: 0.1rem solid var(--offblack-color); */
}

nav h1{
    color: var(--offblack-color);
}

nav h1 a:hover{
    color: var(--primary-color);
    text-decoration: none;
}

nav ul{
    display: flex;
    flex: row;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem 0rem;
}

nav ul li{
    padding-left: 3rem;
    margin-left: 2rem;
}

.nav-link-active a{
    font-weight: bold;
    color: var(--primary-color);
}

/* Main Section */
main{
    min-height: 80vh;
    min-width: 60vw;
    max-width: 60vw;
    margin: auto;
    /* padding: 2rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introduction, .technology{
    margin-bottom: 2rem;
}

.projects, .blogs{
    margin-bottom: 1rem;
}

main section h2{
    padding-top: 2rem;
    padding-bottom: 1rem;
    hyphens: none;
}

main section h3{
    padding-bottom: 1rem;
}

.text-link a{
    text-decoration: underline;
    transition: all ease-in-out 0.25s;
    color: var(--offblack-color);
    cursor: pointer;
}

.text-link a:hover{
    color: var(--primary-color);
}

.technology{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.technology section{
    padding-bottom: 1rem;
}

.technology ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.technology hr{
    max-width: 25%;
}

.technology-icon{
    max-height: 5rem;
    margin: 1rem;
    transition: all ease-in-out 0.25s;
}

.technology-icon:hover{
    transform: translateY(-0.5rem);
}

/* Project Section */
.projects h2, .blogs h2{
    margin-bottom: 1rem;
    text-align: center;
}

.white-section{
    max-height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.heading-highlight-link a{
    color: var(--primary-color);
    transition: all ease-in-out 0.25s;
}

.section-button{
    margin-top: 0rem;
    margin-bottom: 3rem;
}

.section-content{
    padding: 1.5rem;
    margin-bottom: 3rem;
    min-width: 60vw;
    max-width: 60vw;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 3rem rgba(97, 80, 81, 0.1);
}

.section-content:hover{
    box-shadow: 0.1rem 0.1rem 3rem rgba(97, 80, 81, 0.3);
}

.section-content h5{
    margin-bottom: 0.5rem;
}

.section-content p{
    margin-top: 1.5rem;
}

.section-tags{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.section-data{
    display: flex;
}

.section-data small{
    padding-right: 1rem;
    font-weight: 700;
}

.section-tags small{
    background-color: var(--offblack-color);
    color: var(--background-color);
    padding: 0rem 1rem;
    border-radius: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all ease-in-out 0.25s;
}

.section-tags small:hover{
    background-color: var(--primary-color);
    transform: translateY(-0.2rem);
}

.section-buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.centered-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.white-section a:hover{
    text-decoration: none;
}

.section-buttons a:hover{
    text-decoration: none;
}

.section-buttons button{
    margin-right: 2rem;
}

/* Footer Section */
footer{
    min-height: 10vh;
    margin: auto;
    text-align: center;
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 0.1rem solid var(--offblack-color);
}

footer ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-icons{
    padding: 0rem 1rem;
    min-height: 4rem;
    min-width: auto;
}

.github-icon{
    mask: url(./icons/github_icon.svg) no-repeat;
    display: block;
    width: 4rem;
    height: 4rem;
    background: var(--offblack-color);
    mask-size: contain;
    transition: all ease-in-out 0.25s;
}

.linkedin-icon{
    mask: url(./icons/linkedin_icon.svg) no-repeat;
    display: block;
    width: 4rem;
    height: 4rem;
    background: var(--offblack-color);
    mask-size: contain;
    transition: all ease-in-out 0.25s;
}

.mail-icon{
    mask: url(./icons/gmail_icon.svg) no-repeat;
    display: block;
    width: 4rem;
    height: 4rem;
    background: var(--offblack-color);
    mask-size: contain;
    transition: all ease-in-out 0.25s;
}

.instagram-icon{
    mask: url(./icons/instagram_icon.svg) no-repeat;
    display: block;
    width: 4rem;
    height: 4rem;
    background: var(--offblack-color);
    mask-size: contain;
    transition: all ease-in-out 0.25s;
}

.twitter-icon{
    mask: url(./icons/twitter_icon.svg) no-repeat;
    display: block;
    width: 4rem;
    height: 4rem;
    background: var(--offblack-color);
    mask-size: contain;
    transition: all ease-in-out 0.25s;
}

.github-icon:hover, .linkedin-icon:hover, .mail-icon:hover,.instagram-icon:hover, .twitter-icon:hover{
    background: var(--primary-color);
}

footer small{
    padding-top: 1rem;
}

/* Mobile Devices */

@media screen and (max-width: 1024px){
    /* common */
    hr{
        min-width: 70vw;
    }

    /* nav section */
    nav{
        max-width: 90vw;
        justify-content: center;
        flex-direction: column;
    }

    nav h1{
        padding-top: 2rem;
    }

    nav ul{
        padding: 0;
    }

    nav ul li{
        padding: 2rem 3rem;
        margin: 0;
    }

    /* main section */
    main{
        max-width: 90vw;
    }

    .text-link a{
        color: var(--primary-color);
    }

    .technology-icon{
        max-height: 4rem;
        margin: 1rem;
    }

    /* project section */
    .section-content{
        max-width: 90vw;
    }

    /* footer section */
    
}