/* Common */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'nunito', sans-serif;
    --background-color: #fffafa;
    --primary-color: #E11D48;
    --offwhite-color: #FDA4AF;
    --offblack-color: #241c1d;
}

html{
    font-size: 62.5%;
    font-weight: 400;
}

body{
    font-size: 1.6rem;
    color: var(--offblack-color);
    font-weight: 400;
}

li, button, input, label, p{
    font-size: 2rem;
    font-weight: 400;
}

h1{
    font-size: 4rem;
    font-weight: 700;
}

h2{
    font-size: 3rem;
    font-weight: 700;
}

h3{
    font-size: 2.8rem;
    font-weight: 700;
}

h4{
    font-size: 2.6rem;
    font-weight: 700;
}

h5, h6{
    font-size: 2.4rem;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: var(--offblack-color);
    transition: all ease-in-out 0.25s;
}

a:hover{
    text-decoration: line-through;
    color: var(--primary-color);
}

ul{
    padding-inline-start: 0;
    list-style: none;
}

hr{
    margin: 1rem 5rem 2rem 0rem;
    opacity:0.75;
    -webkit-opacity: 0.75;
    -moz-opacity: 0.75;
    color: var(--offwhite-color);
    max-width: 75%;
}

/* Nav Section */
#main-head{
    min-height: 10vh;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    flex-wrap: wrap;
}

nav h1{
    color: var(--offblack-color);
}

nav h1 a:hover{
    color: var(--primary-color);
    text-decoration: none;
}

nav ul{
    display: flex;
    flex: row;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem 0rem;
}

nav ul li{
    padding-left: 3rem;
    margin-left: 2rem;
}

.nav-link-active a{
    font-weight: bold;
    color: var(--primary-color);
}

/* Main Section */
main{
    min-height: 90vh;
    background-color: var(--offwhite-color);
    max-width: 70vw;
    margin: 0vh 30vw 0vh 10vw;
    padding: 2rem;
}

main section h2{
    padding-bottom: 1rem;
}

main section h3{
    padding-bottom: 1rem;
}

.text-link a{
    text-decoration: underline;
    transition: all ease-in-out 0.25s;
    color: var(--offblack-color);
    cursor: pointer;
}

.text-link a:hover{
    color: var(--primary-color);
}

.technology{
    text-align: center;
}

.technology ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.technology hr{
    max-width: 25%;
}

/* Footer Section */
footer{
    min-height: 10vh;
    text-align: center;
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-icons{
    padding: 0rem 1rem;
    min-height: 4rem;
    min-width: auto;
}

.github-icon{
    mask: url(./icons/github_icon.svg) no-repeat;
    display: block;
    width: 4rem;
    height: 4rem;
    background: var(--offblack-color);
    mask-size: contain;
    transition: all ease-in-out 0.25s;
}

.linkedin-icon{
    mask: url(./icons/linkedin_icon.svg) no-repeat;
    display: block;
    width: 4rem;
    height: 4rem;
    background: var(--offblack-color);
    mask-size: contain;
    transition: all ease-in-out 0.25s;
}

.mail-icon{
    mask: url(./icons/gmail_icon.svg) no-repeat;
    display: block;
    width: 4rem;
    height: 4rem;
    background: var(--offblack-color);
    mask-size: contain;
    transition: all ease-in-out 0.25s;
}

.instagram-icon{
    mask: url(./icons/instagram_icon.svg) no-repeat;
    display: block;
    width: 4rem;
    height: 4rem;
    background: var(--offblack-color);
    mask-size: contain;
    transition: all ease-in-out 0.25s;
}

.twitter-icon{
    mask: url(./icons/twitter_icon.svg) no-repeat;
    display: block;
    width: 4rem;
    height: 4rem;
    background: var(--offblack-color);
    mask-size: contain;
    transition: all ease-in-out 0.25s;
}

.github-icon:hover, .linkedin-icon:hover, .mail-icon:hover,.instagram-icon:hover, .twitter-icon:hover{
    background: var(--primary-color);
}

footer small{
    padding-top: 1rem;
}
